
nav{
  padding: 10px 20px;
  justify-content: space-between;
  background: #ffffff;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 10;
}

.nav-left, .nav-middle, .nav-right {
  display: flex;
  align-items: center;
}

.menu-icon, .logo, .nav-icon {
  cursor: pointer;
}

.nav-left .menu-icon{
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.logo{
  width: 100px;
  height: auto;
}

.nav-middle{
  flex: 1;
  justify-content: center; 
}

.search-box{
  position: relative;
  width: 100%;
  max-width: 600%;
}

.search-box input[type="text"] {
  width: 100%;
  padding: 10px 40px 10px 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 14px;
}
.search-box .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.nav-right .nav-icon {
  margin-left: 20px;
}

.nav-right img.profile-icon {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}


